body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: scroll;

}

h1 {
    color: #333;
}

.banner {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
    height: 2000px;
}


.footer {
    background-color: #333; /* Replace with your desired color code */
    color: #fff; /* Set text color to make it readable */
    text-align: center; /* Center align the text */
    padding: 10px; /* Add some padding to the content inside the footer */
  }
.footer a {
    color: #fff;
    text-decoration: none;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    height: 200px;
    width: calc(20%); /* 25% minus margin */
    text-align: center;
}
.card img {
    width: 50%; /* Adjust the width as needed */
    display: block;
    margin: auto;
    border-radius: 50%;
}
.info {
    text-align: center;
    margin: 0 auto;
    
    max-width: 800px; /* Adjust the maximum width as needed */
}

.upload {
    text-align: center; /* Center text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This makes sure the div takes up the full height of the viewport */
}

.preview {
    margin-bottom: 20px;
}