<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django Website</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="banner">
        <h1>Welcome to My Django Website</h1>
        <p>Discover amazing content and more...</p>
    </div>
    <!-- The rest of your content goes here -->

    <div class="card-container">
        <div class="card">
            <img src="path_to_image1.jpg" alt="Image 1">
            <h3>Higher Survival Rates</h3>
            <p>Detecting melanoma in its early stages significantly increases the chances 
                of successful treatment and long-term survival. Early intervention allows for less aggressive treatments and better outcomes.</p>
        </div>

        <div class="card">
            <img src="drag_pan_FILL0_wght400_GRAD0_opsz24.png" alt="Image 2">
            <h3>Minimized Spread and Complications</h3>
            <p>When melanoma is caught early, it's more likely to be localized, meaning it has not 
                yet spread to other parts of the body. This reduces the risk of complications and the need for extensive surgeries or treatments.</p>
        </div>

        <div class="card">
            <img src="path_to_image3.jpg" alt="Image 3">
            <h3>Easier and Less Invasive Treatments</h3>
            <p>Early-stage melanoma can often be treated with less invasive procedures, such as excision or Mohs surgery. 
                These treatments are generally quicker, have fewer side effects, and result in smaller scars compared to more advanced stages.</p>
        </div>

        <div class="card">
            <img src="path_to_image4.jpg" alt="Image 4">
            <h3>Improved Quality of Life</h3>
            <p>Early detection and treatment of melanoma lead to a better quality of life for patients. They 
                experience less physical and emotional distress, and have a higher likelihood of resuming normal activities and routines after treatment.</p>
        </div>
    </div>

    <div class="info">
        <p>We employ cutting-edge AI image classification techniques to identify early signs of cancerous melanoma. Our trained AI models analyze skin images with precision, aiding in the prompt diagnosis and treatment of this critical condition.</p>
    </div>

    <h1>Upload an Image</h1>
    <form method="post" action="{% url 'upload_image' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image">
        <button type="submit">Submit</button>
    </form>
    


    <div class="footer">
        <p>&copy; 2023 Kevin Nguyen. Find me on GitHub: <a href="https://github.com/KHN167">KHN167</a></p>
    </div>
</body>
</html>